			.nav-primary.active a{
				color:rgba(255, 255, 255, 0.75);
			}
			.nav-primary a{
				color:#ffffff !important;
				text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25) !important;
				background-color:#006dcc !important;
				background-image:-moz-linear-gradient(top, rgba(0, 136, 204, 0.75), rgba(0, 68, 204, 0.25)) !important;
				background-image:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 136, 204, 0.75)), to(rgba(0, 68, 204, 0.25))) !important;
				background-image:-webkit-linear-gradient(top, rgba(0, 136, 204, 0.75), rgba(0, 68, 204, 0.25)) !important;
				background-image:-o-linear-gradient(top, rgba(0, 136, 204, 0.75), rgba(0, 68, 204, 0.25)) !important;
				background-image:linear-gradient(to bottom, rgba(0, 136, 204, 0.75), rgba(0, 68, 204, 0.25)) !important;
				background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 136, 204, 0.75)', endColorstr='rgba(0, 68, 204, 0.25)', GradientType=0) !important;
				border-color:#0044cc #0044cc #002a80 !important;
				border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
				*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
			}
			.nav-primary a:hover,.nav-primary a:focus,.nav-primary a:active,.nav-primary.active,.nav-primary.disabled,.nav-primary[disabled]{
				color:#ffffff;
				background-color:#0044cc !important;
				*background-color:#003bb3 !important;
			}
			.nav-primary:active a,.nav-primary.active a{
				background-color:#003399 \9 !important;
			}
			header, footer {
				padding:20px;
				background-color:#333;
				color:#eee;
				position:relative;
			}
			header {
				padding-top:60px;
				margin-top:-20px;
				margin-bottom:20px;
			}
			footer {
				margin-top:20px;
			}
			@media (max-width: 979px){
				header, footer {
					padding-top:0;
					margin-right: -20px;
					margin-left: -20px;
				}
			}
